.grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
picture img {
    border: 1px solid black;
    padding: 2px;
}
picture img[data-src] {
    filter: blur(0.2em);
}
picture img {
    filter: blur(0em);
    transition: filter 1s;
}