@media only screen and (min-width: 37.5em){

#head {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-around;
    padding:0 10px 10px 0;
}
#facebook, #pinterest, #twitter, #instagram {
    width: 2rem;
    display: block;
    border-radius: 50%;
}
#prim-nav {
    display: flex;
    
    flex: 0 0 auto;
    flex-direction: row-reverse;
}
#businessName {
    font-size: 2rem;
}
/*------------------ FOOTER -----------------*/
#in-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #E9C46A;
}
/*--------------------SUMARI INFO-------------*/
#sumary-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    /*grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;*/
    text-align: center;
    gap: 10px;
}
#sumary-info > section:nth-child(3) {
    display: none;
}

#sumary-info > section:nth-child(2) {
    display: block;
}
.sumary {
    width: 350px;
}
.info {
    border: 5px solid #264653;
    border-radius: 20px;
    background-color: #E9C46A;
}
.info p {
    font-size: 1rem;
}
.info h2 {
    font-size: 1.5rem;
}
#freshness {
    font-size: 2rem;
}
/*-----------------------GRID--------------------------*/
#weather-drink {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
#drink {
    grid-column: 1/2;
    grid-row: 1/2;
    
    
}
#weather {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid black;
}
.weather {
    background-color: #2A9D8F;
    box-shadow: 10px 5px 5px #264653;
    text-align: center;
}
.weather {
    display: block;
    font-family: 'Sora', sans-serif;
    color: #264653;
}

#specialty-drink {
    grid-column: 2/3;
    grid-row: 1/3;
    
}
#make-drink {
    font-size: 1.5rem;
}
#bground {
    padding: 30px;
    position: absolute;
    top: 70px;
    left: 20px;
}
#make-drink {
    top: 80px;
    left: 40px;
    font-size: 1.5rem;
}
#three-f {
    width: 470px;
}
.sDrinks {
    font-size: 1.8rem;
    right: 170px;
}
/*---------------------- Fresh ---------------------------*/
#order-info {
    color: #264653;
    margin-left: 10px;
}
#table {
    display: flex;
    flex-direction: column;
    font-family: 'Sora', sans-serif;
    color: white;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #264653;
    background-color: #E76F51;
    max-width: 88%;
}
#order-date, #order-name, #order-email, #order-cpnumber, #order-fruit, #order-description, #order-fat,
#order-carbohydrates, #order-protein, #order-calories, #order-sugar {
    color: #264653;
}
.facts {
    font-size: 1rem;
    border-bottom: 2px solid #264653;
}
.order-table {
    display: block;
}
#fruit-options {
    font-family: 'Sora', sans-serif;
    color: #264653;
}
/*------------------------ About Us ------------------*/
.Mission {
    font-size: 2rem;
}
.eating {
    font-size: 2rem;
}
.logo-round {
    float:right;
    margin-top: 5px;
    margin-right: 100px;

    
}
#hist-info {
    color: #264653;
    font-size: 1.8rem;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 8px double #E76F51;
}
.hour, .email, .phone {
    width: 30px;
    
}
.info-business {
    font-family: 'Sora', sans-serif;
    font-size: 1.3rem;
}
#hep {
    text-align: center;
    color: #264653;
    padding-bottom: 20px;
    border-bottom: 8px double #E76F51;
}
#find {
    text-align: center;
    color: #264653;
}
#mapa {
    width: 500px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px black;
    margin-left: 10px;
}

}