h1, li, H2{
    font-family: 'Viga', sans-serif;
}
p {
    font-family: 'Sora', sans-serif;
}
#head {
    margin: 10px;
    background-color: #264653;  
}
#header {
    background-color: #264653;
    margin-top: auto;
    border-bottom: 5px solid #E76F51;
}
.logo {
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 70px;
    border: 4px solid #2A9D8F;
}
#businessName {
    font-size: 1.2rem;
    
    color: #E9C46A;
    text-shadow: 2px 2px 5px black;
}
#facebook, #pinterest, #twitter, #instagram {
    display: none;
}
#businessName {
    text-align: center;
}


#menu__toggle {
    opacity: 0;
    margin-bottom: 1px;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 60px;
    left: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F4A261;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #F4A261;
  }
/*------------------- FOOTER --------------------*/
#footer {
    background-color: #264653;
}
#in-footer {
    text-align: center;
    color: #E9C46A;
}
.victor {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #E76F51;
}
.logo1 {
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 10px;
    border: 4px solid #2A9D8F;
}
.about-us {
    color: #E9C46A;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Sora', sans-serif;
}
.about-us:hover {
    color: white;
}
/*--------------------BODY--------------------------*/
#market {
    width: 100%;
    
}
#freshness {
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;   
    color: #E76F51;
}
#box {
    background-color: #2A9D8F;
    border: 4px solid #264653;
    text-align: center;
    
    
}
.best-smoothies {
    color: #264653;
    font-family: 'Viga', sans-serif;
    font-size: 1.2rem;
}
.intro {
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
}
#inviting {
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
}
#sumary-info > section:nth-child(2) {
    display: none;
}
#sumary-info > section:nth-child(3) {
    display: none;
}
.info {
    color: #264653;
    border: 5px solid #264653;
    border-radius: 20px;
    background-color: #E9C46A;
    text-align: center;
    
}
.info p {
    font-size: 0.5rem;
}
.sumary {
    width: 270px;
    box-shadow: 2px 2px 8px #264653;
}
.sumary:hover {
    opacity: 0.5;
}
.info h2 {
    font-size: 1rem;
}
#sd {
    font-size: 1rem;
}
/*--------------------------GRID----------------------------*/
#three-f {
    width: 350px;
    box-shadow: 0 0 9px #264653;
    margin-top: 20px;
}
#bground {
    background-color: rgb(42, 157, 143);
    padding: 20px;
    opacity: 60%;
    width: 300px;
    border-radius: 40px;
}
#drink {
    position: relative;
}
#make-drink {
    color: white;
    text-shadow: 2px 2px 5px #264653;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 40px;
    font-size: 1.2rem;
}
#make-drink:hover {
    color: #F4A261;
    
}
#bground {
    position: absolute;
    top: 70px;
    left: 5px;
}
/*.weather {
    background-color: #2A9D8F;
    box-shadow: 10px 5px 5px #264653;
    text-align: center;
}*/
.weather {
    display: none;
}
#weather-icon {
    width: 100px;
}
.weather h2 {
    color: #264653;
}
figcaption {
    font-family: 'Sora', sans-serif;
}
#specialty-drink {
    /*position: relative;*/
    margin-bottom: 10px;
    left: 30px;
    
}
.sixFlavors {
    /*position: absolute;
    top: 20px;
    left: 50px;
    z-index: -1;
    bottom: 90px;
    right: 0px;*/
    box-shadow: 10px 5px 5px #264653;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120%;
}  
.sixFlavors:hover {
    opacity: 0.5;
}
    
.first {
    position: relative;
    z-index: 1;
    font-size: 1rem;
    
}
.uno {
    color: #264653;
    font-size: 1.3rem;
    
}
.dos {
    color: #264653;
    font-size: 1.3rem;
    
}
.tres {
    color: #264653;
    font-size: 1.3rem;
    
}
.second {
    position: relative;
    z-index: 1;
}
.therd {
    position: relative;
    z-index: 1;
}
.sDrinks {
    position: relative;
    color: #264653;
    font-size: 1.4rem;
    right: 40px;
    margin-bottom: 20px;
    top: 50px;
    z-index: 1;
    left: 10px;
    top: 5px;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    
    color: #E76F51;
}
/*---------------------------FRESH--------------------------*/
.fresh {
    text-align: center;
    font-size: 2.5rem;
    color: #264653;
}
.form-border {
    border: 5px solid #264653;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #E9C46A;
    
}
.per-info label {
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem; 
}
.top {
    margin-bottom: 1px;
}
.fname {
    padding: 10px;
    width: 85%;
    margin-left: 10px;
    border-radius: 10px;
}
.email-fresh {
    padding: 10px;
    width: 85%;
    margin-left: 10px;
    border-radius: 10px;
}
.number {
    padding: 10px;
    width: 85%;
    margin-left: 10px;
    border-radius: 10px;
}
.create {
    margin-left: 10px;
    color: #264653;
}
.choose {
    margin-left: 10px;
    color: #264653;
}
#btnSubmit {
    color: white;
    background-color: #E76F51;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.3rem;
    margin-left: 60px;
    margin-bottom: 10px;


}
.sbs {
    margin-left: 10px;
}
.names {
    margin-left: 10px;
    
}
.textarea {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin-left: 10px;
    border-bottom: 5px solid #F4A261;
    margin-bottom: 10px;
    font-family: 'Sora', sans-serif;
    color: #264653;
    font-size: 1.3rem;
}
.card {
    display: flex;
    flex-direction: column;
}
.order-table {
    display: none;
}
/*-------------------------- About Us ----------------------*/
.about-us-market {
    width: 100%;
    z-index: -1;
    
    
}
.Mission {
    text-align: center;
    margin-top: -100px;
    margin-bottom: 200px;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.3rem;
    
    
    
}
.eating {
    text-align: center;
    margin-top: -200px;
    margin-bottom: 100px;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.3rem;
    
}
.logo-round {
    border: 7px solid #2A9D8F;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
#hist-info {
    color: #264653;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 8px double #E76F51;
}
.hour, .email, .phone {
    width: 30px;
    
}
.info-business {
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
}
#hep {
    text-align: center;
    color: #264653;
    border-bottom: 8px double #E76F51;
}
#mapa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px black;
    width: 50%;
}
#find {
    text-align: center;
    color: #264653;
}


