@media only screen and (min-width: 60em){
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #one {
        
        grid-column: 1/2;
    }
    #two {
        
        grid-column: 2/3;
    }
    #three {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    footer {
        font-size: 1.5em;
    }
    p {
        font-size: 1.2em;  
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    .prox {
        font-size: 1.5em;
    }
}