@media only screen and (min-width: 60em){
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    section:nth-child(3){
        grid-column: span 1;
    }
    footer {
        font-size: 1.5em;
    }
    p {
        font-size: 1.2em;  
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    .prox {
        font-size: 1.5em;
    }
}