body {
    font-size: 16px;
    color: #333
    /*font-family: 'Roboto', sans-serif;*/
    /*background-color: lightgray;*/
}
.header {
    background-color: #2471A3;
    text-align: center;
    color: aliceblue;

}
main {
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-gap: 20px;
    font-size: .8rem;
    text-align: left;
}
  
  main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: blanchedalmond;
    text-align: left;
    border-radius: 10px;
}
.prox {
    background-color: gray;
    border: 2px solid gray;
    width: 100%;
    font-size: 2em;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1em;
}
.home {
    text-align: left;
}
.link {
    text-align: left;
}
h3 {
    text-align: center;
    color: white;
    font-size: 20px;

}
.img {
    width: 350px;
    height: auto;
    align-self: center;
}
footer {
    border: 2px solid black;
    padding: 10px;
    background-color: #2471A3;
    color: #fcfbfb;
    box-shadow: 10px 5px 20px 5px grey;
    font-size: .8em;
}
p {
    font-size: 1em;
    font-style: italic;
    text-align: left;
    
}
#currentdate {
    color: yellow;
}
.center {
    text-align: center;
}
h2 {
    font-size: .8rem;
}
h1 {
    font-size: 1.3;
}


