@media only screen and (min-width: 60em){
    header {
        font-size: 1.6rem;
    }
    a {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.6em;
    }
    .img-one {
        width: 300px;
    }
}