@media only screen and (min-width: 60em){
    nav button { display: none;}
    nav ul#prim-nav {
        display: flex;
        margin-right: 2vw;;
    }
    nav ul li a {
        border: none;
        
    }
    .large {
        font-size: 2.8em;
    }
    .small {
        font-size: 1.7em;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
        border: 1px solid black;
        padding-bottom: 5px;
        
    }
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .hero {
        grid-column: 2/4;
        grid-row: 1/3;
        /*background-color: black;*/      
    }
    
    
    .join-chamber {
        position: absolute;
        bottom: 25px;
        right: 25px;
        background: radial-gradient(#eee, #95aee0);
        border: 1px solid rgba(55, 117, 62, 0.1);
        border-radius: 20px;
        padding: .1rem;
        box-shadow: 0 0 30px #333;
        opacity: 0.8;
    }
    .welcome-uv {
        font-size: 2.2em;
    }
    .joinCh {
        font-size: 1em;
    }
    .joinText {
        color: #E0E1DD;
        text-decoration:none;
        font-size: 1em;
    }
    
    .spotlight {
        display:flex;
        flex-direction: column;
        grid-row: 1/-1;
        grid-column: 4/5;
        grid-row: 1/4;
        margin: 5px;
        
    }
    .spot-three {
        display: block;
    }
    .spot-three h2 {
        color:#E0E1DD;
        text-shadow: 2px 2px 5px black;
        text-align: center;
    }
    .spot-three p {
        border-top: 2px solid #E0E1DD;
        padding-top: 5px;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
        border: 1px solid black;
    }
    
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
        border: 1px solid black;
    }
    .news {
        grid-column: 2/4;
        grid-row: 3/4;
        border: 1px solid black;
        background-color: #778DA9;
    }
    .spot-three {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        
        
    }
    .spot-two {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .spot-one {
        padding-top: 5px;
        padding-bottom: 5px;
    }
/*--------------------- DISCOVERY -----------------*/
/*-------------------------------------------------*/   

.bdr {
    border-top: 1px double #E0E1DD;
    font-size: 1.2em;
}
/*---------------------FORM--------------------------*/
/*form label.sbs {
    padding: .4rem 0;
}*/


/*--------------------CONTACT-------------------------*/
.con {
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    color: #415A77;
    font-size: 1.1rem;
    
    
    
}
.con input {
    background-color: #d5d5cf;
    border-radius: 4px;
    border: 1px solid rgb(10, 10, 10);
    
}
}
