@media only screen and (min-width: 37.5em){
    .foot {
        display: flex;
        /*justify-content: center;*/
        align-content: center;
        column-gap: 10%;

    }   
    .img-2 {
        justify-self: left;
    }
    .utah {
        text-align: left;
        font-size: 1.5em;
    }
    /*.address {
        text-align: left;
    }*/
    #phone-add {
        column-gap: 10%;
        
        
    }
    header {
        column-gap: 5%;
    }
    .large {
        font-size: 2.2em;
    }
    .small {
        font-size: 1.2em;
    }
    main {
        display: grid;
        margin: 5px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hero {
        border: 1px solid black;
        background-color: lightgrey;
        grid-column: 1/4;
    }
    .join-chamber {
        position: absolute;
	    top: 90px;
	    right: 20px;
	    background: radial-gradient(#eee, #95aee0);
	    border: 1px solid rgba(55, 117, 62, 0.1);
        border-radius: 20px;
	    padding: .3rem;
	    box-shadow: 0 0 30px #333;
	    opacity: 0.8;
    }
    .news {
        border: 1px solid black;
        background-color: #778DA9;
        grid-column: 1/4;
    }
    .spotlight {
        display:flex;
        flex-direction: row;
        grid-column: 1/4;
        grid-row: 3/4;
        
    }
    .spot-three {
        display: block;
        padding-left: 120px;
        padding-right: 120px;
    }
    .spot-two {
        padding-left: 120px;
        padding-right: 120px;
    }
    .spot-one {
        padding-left: 120px;
        padding-right: 120px;
    }
    .join {
        grid-row: 5/6;
        grid-column: 1/4;
        display: block;
        border: 1px solid black;
        background-color: lightgray;
        margin: 5px;
        padding: 40px;
    }
    .event {
        grid-column: 1/3;
        grid-row: 6/7;

    }
    .weather {
        grid-column: 3/4;
        grid-row: 6/7;
        order: 6;
    }
    
    
    /*.hero {
        border: 1px solid black;
        background-color: lightgrey;
        order: 1;
    }
    .news {
        border: 1px solid black;
        background-color: lightgray;
        order: 2;
    }
    .second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        order: 3;
    }
    .spot-one {
        grid-column: 1/2;
    }
    .spot-two {
        grid-column: 2/3;
    }

    .join .event .weather {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        order: 4;
    }
    .join {
        display: block;
        grid-column: 1/4;
    }
    .event {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .weather {
        grid-column: 3/4;
        grid-row: 2/3;
    }*/
}