body {
    font-family: 'Dosis', sans-serif;
    background-color: #E0E1DD;
}
p {
    font-family: 'Roboto', sans-serif;
}
/*--------------HEATHER-----------------------*/
header {
    background-color: #0D1B2A;
    padding:5px 0;
    color: #E0E1DD;
    align-content: center;   
}
header figure.logo {
    margin: 0;
}
.come {
   text-align: center;
   text-transform:uppercase;
   display: none;
} 

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.round-logo {
    width: 90px;
    align-content: flex-start;
    border-left: 25px;
    padding: 10px;
    border-radius: 50%;
}
.face {
    width: 20px;
    
}
.twi{
    width: 20px;
    padding: 10px;
}
nav button {
    margin: 0.2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    color: white;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-self: right;
    columns: white;  
}
nav li a {
    display: block;
    color: white;
    /*text-align: center;*/
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;  
}
nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: #E0E1DD;
    color: black;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;   
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
#date-now{
    background-color: #535351;
    text-align: center;
    text-decoration: none;
}
/*-------------GRID------------------------*/

.large {
    font-size: 1.3rem;
    padding: 10px;
    align-items: left;
    justify-self:stretch;
}
.small {
    font-size: .9rem;
    align-items: left;
    padding: 10px;
}
.chamber {
    width: 50%;
}

.hero {
    margin: 5px;
    
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero {
    margin: 10px auto;
    position: relative;
    
}
.join-chamber {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: radial-gradient(#eee, #95aee0);
    border: 1px solid rgba(55, 117, 62, 0.1);
    border-radius: 20px;
    padding: .30rem;
    box-shadow: 0 0 30px #333;
    opacity: 0.8;
    font-size: .7em;
}
.welcome {
    position: absolute;
    top: 1px;
    left: 20px;
    color: white;
    text-decoration-style: double;
    opacity: 0.8;
    font-size: .9em;
    text-shadow: 2px 2px 5px black;
}
section hi {
    font-size: 1em;
}

.event {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    background-color: #778DA9;
    color: #0D1B2A;
}
.event h2 {
    color:#E0E1DD;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
.weather {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background-color: #778DA9;
    text-align: center;
}
.weather h2 {
    color:#E0E1DD;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
.weather img {
    width: 70px;   
}
.weather p {
    text-align: center;
}
.divider {
    border-top: 2px solid #E0E1DD;
    padding-top: 5px;
}
.news {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background-color: #778DA9;
    text-align: center;
}
.news h2 {
    color:#E0E1DD;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
.spot-one {
    border: 1px solid black;
    padding: 5px;
    background-color: #778DA9;
    text-align: center;
}
.spot-one h2 {
    color:#E0E1DD;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
.spot-one p {
    border-top: 2px solid #E0E1DD;
    padding-top: 5px;
}
.spot-one img {
    width: 50px;
}
.spot-two {
    border: 1px solid black;
    padding: 5px;
    background-color: #778DA9;
    text-align: center;
}
.spot-two h2 {
    color:#E0E1DD;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
.spot-two p {
    border-top: 2px solid #E0E1DD;
    padding-top: 5px;
}
.spot-two img {
    width: 90px;   
}
.spot-three {
    border: 1px solid black;
    padding: 5px;
    background-color: #778DA9;
    text-align: center;
}
.spot-three img {
    width: 60px;
}
.spot-three {
    display: none;
}
.join {
    display:none;
}
/*-----------------FOOTER-----------------------*/
.img2 {
    width: 100px;
    padding: 10px;
    border-radius: 50%;
}
.location {
    width: 40px;
}
footer {
    background-color: #0D1B2A;
    color: #E0E1DD;
    text-align: center;   
}



#btn span:nth-child(1) {display: block;}
#btn span:nth-child(2) {display: none;}

#btn.open span:nth-child(1) {display: none;}
#btn.open span:nth-child(2) {display: block;}

/*--------------------- DISCOVERY -----------------*/
/*-------------------------------------------------*/   

#grid-discovery {
    
}
.arches {
    border: 3px solid black;
    padding: 20px;
    background-color: #778DA9;
    text-align: center;
    margin-bottom: 5px;
}
#cap-reef {
    border: 3px solid black;
    padding: 20px;
    background-color: #778DA9;
    text-align: center;
    margin-bottom: 5px;

}
#cougars {
    border: 3px solid black;
    padding: 20px;
    background-color: #778DA9;
    text-align: center;
    margin-bottom: 5px;
}
#snow {
    border: 3px solid black;
    padding: 20px;
    background-color: #778DA9;
    text-align: center;
    margin-bottom: 5px;
}
#slc {
    border: 3px solid black;
    padding: 20px;
    background-color: #778DA9;
    text-align: center;
    margin-bottom: 5px;
}
.imgs {
    box-shadow: 10px 5px 5px #1B263B;
    border: 1px solid white;
}
.imgs:hover {
    opacity: .5;
    
}
.arches img {
    object-fit: cover;
}
.arches {
    margin: 10px auto;
    position: relative;
    
}
.arpark {
    position:absolute;
    top: 20px;
    right: 200px;
    color: white;
    text-decoration-style: double;
    opacity: 0.8;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}
#cap-reef {
    margin: 10px auto;
    position: relative;
}
.capreef {
    position:absolute;
    top: 20px;
    right: 200px;
    color: white;
    text-decoration-style: double;
    opacity: 0.8;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}
#cougars {
    margin: 10px auto;
    position: relative;
}
.byu-c {
    position:absolute;
    top: 20px;
    right: 200px;
    color: white;
    text-decoration-style: double;
    opacity: 0.8;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}
#snow {
    margin: 10px auto;
    position: relative;
}
.ski {
    position:absolute;
    top: 20px;
    right: 200px;
    color: white;
    text-decoration-style: double;
    opacity: 0.8;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}
#slc {
    margin: 10px auto;
    position: relative;
}
.slcity {
    position:absolute;
    top: 20px;
    right: 200px;
    color: white;
    text-decoration-style: double;
    opacity: 0.8;
    font-size: 2em;
    text-shadow: 2px 2px 5px black;
}
.bdr {
    border-top: 1px double #E0E1DD;
    font-size: .8em;
}
.imgs[data-src] {
    filter: blur(0.2em);
}
.imgs {
    filter: blur(0em);
    transition: filter 1s;
}